@using ToDoList.Frontend.Clients
@using ToDoList.Frontend.Models

@inject IToDoItemsClient toDoItemsClient
@inject NavigationManager NavigationManager

<div>
    <h2>ToDo items dashboard</h2>
    <table class="table table-hover mt-3">
        <thead class="table-dark">
            <tr>
                <th><button class="btn btn-secondary" @onclick="OrderById">Sort by Id</button></th>
                <th><button class="btn btn-primary" @onclick="OrderByName">Sort by Name</button></th>
                <th>Description</th>
                <th>IsCompleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in sortedData)
            {
                <tr class=@ConvertItemCompletionToTableRowStyle(item.IsCompleted)>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@(item.IsCompleted ? "Dokonceny" : "Nedokonceny")</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-success" @onclick="() => ToggleItem(item)">
                                <i class=@ConvertItemCompletionToToggleIconStyle(item.IsCompleted)></i>
                            </button>
                            <button class="btn btn-info" @onclick="() => EditItem(item)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-danger" @onclick="() => DeleteItem(item)">
                                <i class="bi bi-x-square"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<ToDoItemView> sortedData = new();

    public void OrderByName()
    {
        sortedData = sortedData.OrderBy(item => item.Name).ToList();
    }

    public void OrderById()
    {
        sortedData = sortedData.OrderBy(item => item.Id).ToList();
    }

    public void EditItem(ToDoItemView toDoItem)
    {
        NavigationManager.NavigateTo($"editToDoItem/{toDoItem.Id}");
    }

    private async Task ToggleItem(ToDoItemView item)
    {
        item.IsCompleted = !item.IsCompleted;
        await toDoItemsClient.UpdateItemAsync(item);
    }

    private async Task DeleteItem(ToDoItemView item)
    {
        await toDoItemsClient.DeleteItemAsync(item);
    }

    protected override async Task OnInitializedAsync()
    {
        //sortedData = testData.ToList();
        sortedData = await toDoItemsClient.ReadItemsAsync();
    }

    private string ConvertItemCompletionToTableRowStyle(bool isCompleted) => isCompleted ? "table-success" : "table-light";
    private string ConvertItemCompletionToToggleIconStyle(bool isCompleted) => isCompleted ? "bi bi-check-square-fill" : "bi bi-check-square";
}
