@page "/editToDoItem/{ItemId:int}"
@using ToDoList.Frontend.Clients
@using ToDoList.Frontend.Models

@inject IToDoItemsClient toDoItemsClient
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

@if (ToDoItemModel is not null)
{
    <EditForm Model="ToDoItemModel" FormName="EditToDoItem" OnSubmit="Submit"> @*OnValidSubmit*@
        <div class="mb-3">
            <label for="Name" class="form-label">Name:</label>
            <InputText id="Name" class="form-control" @bind-Value="ToDoItemModel.Name" />
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description:</label>
            <InputText id="Description" class="form-control" @bind-Value="ToDoItemModel.Description" />
        </div>
        <div class="mb-3">
            <label for="IsCompleted" class="form-check-label">IsCompleted:</label>
        </div>
        <div class="mb-3">
            <InputCheckbox id="IsCompleted" class="form-check" @bind-Value="ToDoItemModel.IsCompleted" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        ToDoItemModel = await toDoItemsClient.ReadItemByIdAsync(ItemId);
    }

    [Parameter]
    public int ItemId { get; set; }

    [SupplyParameterFromForm]
    public ToDoItemView ToDoItemModel { get; set; }

    public async Task Submit()
    {
        await toDoItemsClient.UpdateItemAsync(ToDoItemModel);
        NavigationManager.NavigateTo("/");
    }
}
