@page "/"
@rendermode InteractiveServer
<PageTitle>Domovska stranka</PageTitle>

<DashBoard/>
@code
{
    /*public delegate int NumberOperationDelegate(int number1, int number2);



    int Multiply(int a, int b)
    {
        Console.WriteLine("Multiply called.");
        return a*b;
    }

    int Devide(int a, int b)
    {
        Console.WriteLine("Devide called");
        return a/b;
    }

protected override async Task OnInitializedAsync()
{
     NumberOperationDelegate operationDelegate;
     operationDelegate = Multiply;

     var result = operationDelegate(2,3);
     Console.WriteLine(result);
}
*/
}

<!--<h1>@AhojSvete()</h1>

Vítej v moji aplikaci.
<br>
<button @onclick="Increment"> Moje tlačítko</button>
<br>

Hodnota počítadla: @counter

<h2> Tohle je nadpis druhe urovne</h2>
<p> Tohle je odstavec <br> se zalomenym textem</p>
@VypisCisla1Az10();


<ul>
    <li> polozka 1 </li>
    <li> polozka 2</li>
</ul>
<ol>
    <li>První položka</li>
    <li>Druhá položka</li>
    <li>Třetí položka</li>
</ol>
@code
{
    int counter = 0;
    public void Increment()
    {
        counter++;
    }

    string ahojSvete = "Ahoj světe přes c#!";

    public string AhojSvete()
    {
        return "Ahoj světe přes c# z metody";
    }

    public string VypisCisla1Az10()
    {
        string vypis = "";
        for (int i = 1; i < 10; i++)
        {
            vypis += i;
        }
        return vypis;
    }-->

}
